img {
  width: 400px;
  height: 300px;
}
.one {
  animation: car0 10s 0s infinite;
}
.tow {
  animation: car1 10s 0s infinite;
}
@-moz-keyframes car0 {
  0% {
    filter: grayscale(0%);
    opacity: 0;
  }
  1% {
    filter: grayscale(1%);
    opacity: 0.01;
  }
  2% {
    filter: grayscale(2%);
    opacity: 0.02;
  }
  3% {
    filter: grayscale(3%);
    opacity: 0.03;
  }
  4% {
    filter: grayscale(4%);
    opacity: 0.04;
  }
  5% {
    filter: grayscale(5%);
    opacity: 0.05;
  }
  6% {
    filter: grayscale(6%);
    opacity: 0.06;
  }
  7% {
    filter: grayscale(7%);
    opacity: 0.07;
  }
  8% {
    filter: grayscale(8%);
    opacity: 0.08;
  }
  9% {
    filter: grayscale(9%);
    opacity: 0.09;
  }
  10% {
    filter: grayscale(10%);
    opacity: 0.1;
  }
  11% {
    filter: grayscale(11%);
    opacity: 0.11;
  }
  12% {
    filter: grayscale(12%);
    opacity: 0.12;
  }
  13% {
    filter: grayscale(13%);
    opacity: 0.13;
  }
  14% {
    filter: grayscale(14%);
    opacity: 0.14;
  }
  15% {
    filter: grayscale(15%);
    opacity: 0.15;
  }
  16% {
    filter: grayscale(16%);
    opacity: 0.16;
  }
  17% {
    filter: grayscale(17%);
    opacity: 0.17;
  }
  18% {
    filter: grayscale(18%);
    opacity: 0.18;
  }
  19% {
    filter: grayscale(19%);
    opacity: 0.19;
  }
  20% {
    filter: grayscale(20%);
    opacity: 0.2;
  }
  21% {
    filter: grayscale(21%);
    opacity: 0.21;
  }
  22% {
    filter: grayscale(22%);
    opacity: 0.22;
  }
  23% {
    filter: grayscale(23%);
    opacity: 0.23;
  }
  24% {
    filter: grayscale(24%);
    opacity: 0.24;
  }
  25% {
    filter: grayscale(25%);
    opacity: 0.25;
  }
  26% {
    filter: grayscale(26%);
    opacity: 0.26;
  }
  27% {
    filter: grayscale(27%);
    opacity: 0.27;
  }
  28% {
    filter: grayscale(28%);
    opacity: 0.28;
  }
  29% {
    filter: grayscale(29%);
    opacity: 0.29;
  }
  30% {
    filter: grayscale(30%);
    opacity: 0.3;
  }
  31% {
    filter: grayscale(31%);
    opacity: 0.31;
  }
  32% {
    filter: grayscale(32%);
    opacity: 0.32;
  }
  33% {
    filter: grayscale(33%);
    opacity: 0.33;
  }
  34% {
    filter: grayscale(34%);
    opacity: 0.34;
  }
  35% {
    filter: grayscale(35%);
    opacity: 0.35;
  }
  36% {
    filter: grayscale(36%);
    opacity: 0.36;
  }
  37% {
    filter: grayscale(37%);
    opacity: 0.37;
  }
  38% {
    filter: grayscale(38%);
    opacity: 0.38;
  }
  39% {
    filter: grayscale(39%);
    opacity: 0.39;
  }
  40% {
    filter: grayscale(40%);
    opacity: 0.4;
  }
  41% {
    filter: grayscale(41%);
    opacity: 0.41;
  }
  42% {
    filter: grayscale(42%);
    opacity: 0.42;
  }
  43% {
    filter: grayscale(43%);
    opacity: 0.43;
  }
  44% {
    filter: grayscale(44%);
    opacity: 0.44;
  }
  45% {
    filter: grayscale(45%);
    opacity: 0.45;
  }
  46% {
    filter: grayscale(46%);
    opacity: 0.46;
  }
  47% {
    filter: grayscale(47%);
    opacity: 0.47;
  }
  48% {
    filter: grayscale(48%);
    opacity: 0.48;
  }
  49% {
    filter: grayscale(49%);
    opacity: 0.49;
  }
  50% {
    filter: grayscale(50%);
    opacity: 0.5;
  }
  51% {
    filter: grayscale(51%);
    opacity: 0.51;
  }
  52% {
    filter: grayscale(52%);
    opacity: 0.52;
  }
  53% {
    filter: grayscale(53%);
    opacity: 0.53;
  }
  54% {
    filter: grayscale(54%);
    opacity: 0.54;
  }
  55% {
    filter: grayscale(55%);
    opacity: 0.55;
  }
  56% {
    filter: grayscale(56%);
    opacity: 0.56;
  }
  57% {
    filter: grayscale(57%);
    opacity: 0.57;
  }
  58% {
    filter: grayscale(58%);
    opacity: 0.58;
  }
  59% {
    filter: grayscale(59%);
    opacity: 0.59;
  }
  60% {
    filter: grayscale(60%);
    opacity: 0.6;
  }
  61% {
    filter: grayscale(61%);
    opacity: 0.61;
  }
  62% {
    filter: grayscale(62%);
    opacity: 0.62;
  }
  63% {
    filter: grayscale(63%);
    opacity: 0.63;
  }
  64% {
    filter: grayscale(64%);
    opacity: 0.64;
  }
  65% {
    filter: grayscale(65%);
    opacity: 0.65;
  }
  66% {
    filter: grayscale(66%);
    opacity: 0.66;
  }
  67% {
    filter: grayscale(67%);
    opacity: 0.67;
  }
  68% {
    filter: grayscale(68%);
    opacity: 0.68;
  }
  69% {
    filter: grayscale(69%);
    opacity: 0.69;
  }
  70% {
    filter: grayscale(70%);
    opacity: 0.7;
  }
  71% {
    filter: grayscale(71%);
    opacity: 0.71;
  }
  72% {
    filter: grayscale(72%);
    opacity: 0.72;
  }
  73% {
    filter: grayscale(73%);
    opacity: 0.73;
  }
  74% {
    filter: grayscale(74%);
    opacity: 0.74;
  }
  75% {
    filter: grayscale(75%);
    opacity: 0.75;
  }
  76% {
    filter: grayscale(76%);
    opacity: 0.76;
  }
  77% {
    filter: grayscale(77%);
    opacity: 0.77;
  }
  78% {
    filter: grayscale(78%);
    opacity: 0.78;
  }
  79% {
    filter: grayscale(79%);
    opacity: 0.79;
  }
  80% {
    filter: grayscale(80%);
    opacity: 0.8;
  }
  81% {
    filter: grayscale(81%);
    opacity: 0.81;
  }
  82% {
    filter: grayscale(82%);
    opacity: 0.82;
  }
  83% {
    filter: grayscale(83%);
    opacity: 0.83;
  }
  84% {
    filter: grayscale(84%);
    opacity: 0.84;
  }
  85% {
    filter: grayscale(85%);
    opacity: 0.85;
  }
  86% {
    filter: grayscale(86%);
    opacity: 0.86;
  }
  87% {
    filter: grayscale(87%);
    opacity: 0.87;
  }
  88% {
    filter: grayscale(88%);
    opacity: 0.88;
  }
  89% {
    filter: grayscale(89%);
    opacity: 0.89;
  }
  90% {
    filter: grayscale(90%);
    opacity: 0.9;
  }
  91% {
    filter: grayscale(91%);
    opacity: 0.91;
  }
  92% {
    filter: grayscale(92%);
    opacity: 0.92;
  }
  93% {
    filter: grayscale(93%);
    opacity: 0.93;
  }
  94% {
    filter: grayscale(94%);
    opacity: 0.94;
  }
  95% {
    filter: grayscale(95%);
    opacity: 0.95;
  }
  96% {
    filter: grayscale(96%);
    opacity: 0.96;
  }
  97% {
    filter: grayscale(97%);
    opacity: 0.97;
  }
  98% {
    filter: grayscale(98%);
    opacity: 0.98;
  }
  99% {
    filter: grayscale(99%);
    opacity: 0.99;
  }
  100% {
    filter: grayscale(100%);
    opacity: 1;
  }
}
@-webkit-keyframes car0 {
  0% {
    filter: grayscale(0%);
    opacity: 0;
  }
  1% {
    filter: grayscale(1%);
    opacity: 0.01;
  }
  2% {
    filter: grayscale(2%);
    opacity: 0.02;
  }
  3% {
    filter: grayscale(3%);
    opacity: 0.03;
  }
  4% {
    filter: grayscale(4%);
    opacity: 0.04;
  }
  5% {
    filter: grayscale(5%);
    opacity: 0.05;
  }
  6% {
    filter: grayscale(6%);
    opacity: 0.06;
  }
  7% {
    filter: grayscale(7%);
    opacity: 0.07;
  }
  8% {
    filter: grayscale(8%);
    opacity: 0.08;
  }
  9% {
    filter: grayscale(9%);
    opacity: 0.09;
  }
  10% {
    filter: grayscale(10%);
    opacity: 0.1;
  }
  11% {
    filter: grayscale(11%);
    opacity: 0.11;
  }
  12% {
    filter: grayscale(12%);
    opacity: 0.12;
  }
  13% {
    filter: grayscale(13%);
    opacity: 0.13;
  }
  14% {
    filter: grayscale(14%);
    opacity: 0.14;
  }
  15% {
    filter: grayscale(15%);
    opacity: 0.15;
  }
  16% {
    filter: grayscale(16%);
    opacity: 0.16;
  }
  17% {
    filter: grayscale(17%);
    opacity: 0.17;
  }
  18% {
    filter: grayscale(18%);
    opacity: 0.18;
  }
  19% {
    filter: grayscale(19%);
    opacity: 0.19;
  }
  20% {
    filter: grayscale(20%);
    opacity: 0.2;
  }
  21% {
    filter: grayscale(21%);
    opacity: 0.21;
  }
  22% {
    filter: grayscale(22%);
    opacity: 0.22;
  }
  23% {
    filter: grayscale(23%);
    opacity: 0.23;
  }
  24% {
    filter: grayscale(24%);
    opacity: 0.24;
  }
  25% {
    filter: grayscale(25%);
    opacity: 0.25;
  }
  26% {
    filter: grayscale(26%);
    opacity: 0.26;
  }
  27% {
    filter: grayscale(27%);
    opacity: 0.27;
  }
  28% {
    filter: grayscale(28%);
    opacity: 0.28;
  }
  29% {
    filter: grayscale(29%);
    opacity: 0.29;
  }
  30% {
    filter: grayscale(30%);
    opacity: 0.3;
  }
  31% {
    filter: grayscale(31%);
    opacity: 0.31;
  }
  32% {
    filter: grayscale(32%);
    opacity: 0.32;
  }
  33% {
    filter: grayscale(33%);
    opacity: 0.33;
  }
  34% {
    filter: grayscale(34%);
    opacity: 0.34;
  }
  35% {
    filter: grayscale(35%);
    opacity: 0.35;
  }
  36% {
    filter: grayscale(36%);
    opacity: 0.36;
  }
  37% {
    filter: grayscale(37%);
    opacity: 0.37;
  }
  38% {
    filter: grayscale(38%);
    opacity: 0.38;
  }
  39% {
    filter: grayscale(39%);
    opacity: 0.39;
  }
  40% {
    filter: grayscale(40%);
    opacity: 0.4;
  }
  41% {
    filter: grayscale(41%);
    opacity: 0.41;
  }
  42% {
    filter: grayscale(42%);
    opacity: 0.42;
  }
  43% {
    filter: grayscale(43%);
    opacity: 0.43;
  }
  44% {
    filter: grayscale(44%);
    opacity: 0.44;
  }
  45% {
    filter: grayscale(45%);
    opacity: 0.45;
  }
  46% {
    filter: grayscale(46%);
    opacity: 0.46;
  }
  47% {
    filter: grayscale(47%);
    opacity: 0.47;
  }
  48% {
    filter: grayscale(48%);
    opacity: 0.48;
  }
  49% {
    filter: grayscale(49%);
    opacity: 0.49;
  }
  50% {
    filter: grayscale(50%);
    opacity: 0.5;
  }
  51% {
    filter: grayscale(51%);
    opacity: 0.51;
  }
  52% {
    filter: grayscale(52%);
    opacity: 0.52;
  }
  53% {
    filter: grayscale(53%);
    opacity: 0.53;
  }
  54% {
    filter: grayscale(54%);
    opacity: 0.54;
  }
  55% {
    filter: grayscale(55%);
    opacity: 0.55;
  }
  56% {
    filter: grayscale(56%);
    opacity: 0.56;
  }
  57% {
    filter: grayscale(57%);
    opacity: 0.57;
  }
  58% {
    filter: grayscale(58%);
    opacity: 0.58;
  }
  59% {
    filter: grayscale(59%);
    opacity: 0.59;
  }
  60% {
    filter: grayscale(60%);
    opacity: 0.6;
  }
  61% {
    filter: grayscale(61%);
    opacity: 0.61;
  }
  62% {
    filter: grayscale(62%);
    opacity: 0.62;
  }
  63% {
    filter: grayscale(63%);
    opacity: 0.63;
  }
  64% {
    filter: grayscale(64%);
    opacity: 0.64;
  }
  65% {
    filter: grayscale(65%);
    opacity: 0.65;
  }
  66% {
    filter: grayscale(66%);
    opacity: 0.66;
  }
  67% {
    filter: grayscale(67%);
    opacity: 0.67;
  }
  68% {
    filter: grayscale(68%);
    opacity: 0.68;
  }
  69% {
    filter: grayscale(69%);
    opacity: 0.69;
  }
  70% {
    filter: grayscale(70%);
    opacity: 0.7;
  }
  71% {
    filter: grayscale(71%);
    opacity: 0.71;
  }
  72% {
    filter: grayscale(72%);
    opacity: 0.72;
  }
  73% {
    filter: grayscale(73%);
    opacity: 0.73;
  }
  74% {
    filter: grayscale(74%);
    opacity: 0.74;
  }
  75% {
    filter: grayscale(75%);
    opacity: 0.75;
  }
  76% {
    filter: grayscale(76%);
    opacity: 0.76;
  }
  77% {
    filter: grayscale(77%);
    opacity: 0.77;
  }
  78% {
    filter: grayscale(78%);
    opacity: 0.78;
  }
  79% {
    filter: grayscale(79%);
    opacity: 0.79;
  }
  80% {
    filter: grayscale(80%);
    opacity: 0.8;
  }
  81% {
    filter: grayscale(81%);
    opacity: 0.81;
  }
  82% {
    filter: grayscale(82%);
    opacity: 0.82;
  }
  83% {
    filter: grayscale(83%);
    opacity: 0.83;
  }
  84% {
    filter: grayscale(84%);
    opacity: 0.84;
  }
  85% {
    filter: grayscale(85%);
    opacity: 0.85;
  }
  86% {
    filter: grayscale(86%);
    opacity: 0.86;
  }
  87% {
    filter: grayscale(87%);
    opacity: 0.87;
  }
  88% {
    filter: grayscale(88%);
    opacity: 0.88;
  }
  89% {
    filter: grayscale(89%);
    opacity: 0.89;
  }
  90% {
    filter: grayscale(90%);
    opacity: 0.9;
  }
  91% {
    filter: grayscale(91%);
    opacity: 0.91;
  }
  92% {
    filter: grayscale(92%);
    opacity: 0.92;
  }
  93% {
    filter: grayscale(93%);
    opacity: 0.93;
  }
  94% {
    filter: grayscale(94%);
    opacity: 0.94;
  }
  95% {
    filter: grayscale(95%);
    opacity: 0.95;
  }
  96% {
    filter: grayscale(96%);
    opacity: 0.96;
  }
  97% {
    filter: grayscale(97%);
    opacity: 0.97;
  }
  98% {
    filter: grayscale(98%);
    opacity: 0.98;
  }
  99% {
    filter: grayscale(99%);
    opacity: 0.99;
  }
  100% {
    filter: grayscale(100%);
    opacity: 1;
  }
}
@-o-keyframes car0 {
  0% {
    filter: grayscale(0%);
    opacity: 0;
  }
  1% {
    filter: grayscale(1%);
    opacity: 0.01;
  }
  2% {
    filter: grayscale(2%);
    opacity: 0.02;
  }
  3% {
    filter: grayscale(3%);
    opacity: 0.03;
  }
  4% {
    filter: grayscale(4%);
    opacity: 0.04;
  }
  5% {
    filter: grayscale(5%);
    opacity: 0.05;
  }
  6% {
    filter: grayscale(6%);
    opacity: 0.06;
  }
  7% {
    filter: grayscale(7%);
    opacity: 0.07;
  }
  8% {
    filter: grayscale(8%);
    opacity: 0.08;
  }
  9% {
    filter: grayscale(9%);
    opacity: 0.09;
  }
  10% {
    filter: grayscale(10%);
    opacity: 0.1;
  }
  11% {
    filter: grayscale(11%);
    opacity: 0.11;
  }
  12% {
    filter: grayscale(12%);
    opacity: 0.12;
  }
  13% {
    filter: grayscale(13%);
    opacity: 0.13;
  }
  14% {
    filter: grayscale(14%);
    opacity: 0.14;
  }
  15% {
    filter: grayscale(15%);
    opacity: 0.15;
  }
  16% {
    filter: grayscale(16%);
    opacity: 0.16;
  }
  17% {
    filter: grayscale(17%);
    opacity: 0.17;
  }
  18% {
    filter: grayscale(18%);
    opacity: 0.18;
  }
  19% {
    filter: grayscale(19%);
    opacity: 0.19;
  }
  20% {
    filter: grayscale(20%);
    opacity: 0.2;
  }
  21% {
    filter: grayscale(21%);
    opacity: 0.21;
  }
  22% {
    filter: grayscale(22%);
    opacity: 0.22;
  }
  23% {
    filter: grayscale(23%);
    opacity: 0.23;
  }
  24% {
    filter: grayscale(24%);
    opacity: 0.24;
  }
  25% {
    filter: grayscale(25%);
    opacity: 0.25;
  }
  26% {
    filter: grayscale(26%);
    opacity: 0.26;
  }
  27% {
    filter: grayscale(27%);
    opacity: 0.27;
  }
  28% {
    filter: grayscale(28%);
    opacity: 0.28;
  }
  29% {
    filter: grayscale(29%);
    opacity: 0.29;
  }
  30% {
    filter: grayscale(30%);
    opacity: 0.3;
  }
  31% {
    filter: grayscale(31%);
    opacity: 0.31;
  }
  32% {
    filter: grayscale(32%);
    opacity: 0.32;
  }
  33% {
    filter: grayscale(33%);
    opacity: 0.33;
  }
  34% {
    filter: grayscale(34%);
    opacity: 0.34;
  }
  35% {
    filter: grayscale(35%);
    opacity: 0.35;
  }
  36% {
    filter: grayscale(36%);
    opacity: 0.36;
  }
  37% {
    filter: grayscale(37%);
    opacity: 0.37;
  }
  38% {
    filter: grayscale(38%);
    opacity: 0.38;
  }
  39% {
    filter: grayscale(39%);
    opacity: 0.39;
  }
  40% {
    filter: grayscale(40%);
    opacity: 0.4;
  }
  41% {
    filter: grayscale(41%);
    opacity: 0.41;
  }
  42% {
    filter: grayscale(42%);
    opacity: 0.42;
  }
  43% {
    filter: grayscale(43%);
    opacity: 0.43;
  }
  44% {
    filter: grayscale(44%);
    opacity: 0.44;
  }
  45% {
    filter: grayscale(45%);
    opacity: 0.45;
  }
  46% {
    filter: grayscale(46%);
    opacity: 0.46;
  }
  47% {
    filter: grayscale(47%);
    opacity: 0.47;
  }
  48% {
    filter: grayscale(48%);
    opacity: 0.48;
  }
  49% {
    filter: grayscale(49%);
    opacity: 0.49;
  }
  50% {
    filter: grayscale(50%);
    opacity: 0.5;
  }
  51% {
    filter: grayscale(51%);
    opacity: 0.51;
  }
  52% {
    filter: grayscale(52%);
    opacity: 0.52;
  }
  53% {
    filter: grayscale(53%);
    opacity: 0.53;
  }
  54% {
    filter: grayscale(54%);
    opacity: 0.54;
  }
  55% {
    filter: grayscale(55%);
    opacity: 0.55;
  }
  56% {
    filter: grayscale(56%);
    opacity: 0.56;
  }
  57% {
    filter: grayscale(57%);
    opacity: 0.57;
  }
  58% {
    filter: grayscale(58%);
    opacity: 0.58;
  }
  59% {
    filter: grayscale(59%);
    opacity: 0.59;
  }
  60% {
    filter: grayscale(60%);
    opacity: 0.6;
  }
  61% {
    filter: grayscale(61%);
    opacity: 0.61;
  }
  62% {
    filter: grayscale(62%);
    opacity: 0.62;
  }
  63% {
    filter: grayscale(63%);
    opacity: 0.63;
  }
  64% {
    filter: grayscale(64%);
    opacity: 0.64;
  }
  65% {
    filter: grayscale(65%);
    opacity: 0.65;
  }
  66% {
    filter: grayscale(66%);
    opacity: 0.66;
  }
  67% {
    filter: grayscale(67%);
    opacity: 0.67;
  }
  68% {
    filter: grayscale(68%);
    opacity: 0.68;
  }
  69% {
    filter: grayscale(69%);
    opacity: 0.69;
  }
  70% {
    filter: grayscale(70%);
    opacity: 0.7;
  }
  71% {
    filter: grayscale(71%);
    opacity: 0.71;
  }
  72% {
    filter: grayscale(72%);
    opacity: 0.72;
  }
  73% {
    filter: grayscale(73%);
    opacity: 0.73;
  }
  74% {
    filter: grayscale(74%);
    opacity: 0.74;
  }
  75% {
    filter: grayscale(75%);
    opacity: 0.75;
  }
  76% {
    filter: grayscale(76%);
    opacity: 0.76;
  }
  77% {
    filter: grayscale(77%);
    opacity: 0.77;
  }
  78% {
    filter: grayscale(78%);
    opacity: 0.78;
  }
  79% {
    filter: grayscale(79%);
    opacity: 0.79;
  }
  80% {
    filter: grayscale(80%);
    opacity: 0.8;
  }
  81% {
    filter: grayscale(81%);
    opacity: 0.81;
  }
  82% {
    filter: grayscale(82%);
    opacity: 0.82;
  }
  83% {
    filter: grayscale(83%);
    opacity: 0.83;
  }
  84% {
    filter: grayscale(84%);
    opacity: 0.84;
  }
  85% {
    filter: grayscale(85%);
    opacity: 0.85;
  }
  86% {
    filter: grayscale(86%);
    opacity: 0.86;
  }
  87% {
    filter: grayscale(87%);
    opacity: 0.87;
  }
  88% {
    filter: grayscale(88%);
    opacity: 0.88;
  }
  89% {
    filter: grayscale(89%);
    opacity: 0.89;
  }
  90% {
    filter: grayscale(90%);
    opacity: 0.9;
  }
  91% {
    filter: grayscale(91%);
    opacity: 0.91;
  }
  92% {
    filter: grayscale(92%);
    opacity: 0.92;
  }
  93% {
    filter: grayscale(93%);
    opacity: 0.93;
  }
  94% {
    filter: grayscale(94%);
    opacity: 0.94;
  }
  95% {
    filter: grayscale(95%);
    opacity: 0.95;
  }
  96% {
    filter: grayscale(96%);
    opacity: 0.96;
  }
  97% {
    filter: grayscale(97%);
    opacity: 0.97;
  }
  98% {
    filter: grayscale(98%);
    opacity: 0.98;
  }
  99% {
    filter: grayscale(99%);
    opacity: 0.99;
  }
  100% {
    filter: grayscale(100%);
    opacity: 1;
  }
}
@keyframes car0 {
  0% {
    filter: grayscale(0%);
    opacity: 0;
  }
  1% {
    filter: grayscale(1%);
    opacity: 0.01;
  }
  2% {
    filter: grayscale(2%);
    opacity: 0.02;
  }
  3% {
    filter: grayscale(3%);
    opacity: 0.03;
  }
  4% {
    filter: grayscale(4%);
    opacity: 0.04;
  }
  5% {
    filter: grayscale(5%);
    opacity: 0.05;
  }
  6% {
    filter: grayscale(6%);
    opacity: 0.06;
  }
  7% {
    filter: grayscale(7%);
    opacity: 0.07;
  }
  8% {
    filter: grayscale(8%);
    opacity: 0.08;
  }
  9% {
    filter: grayscale(9%);
    opacity: 0.09;
  }
  10% {
    filter: grayscale(10%);
    opacity: 0.1;
  }
  11% {
    filter: grayscale(11%);
    opacity: 0.11;
  }
  12% {
    filter: grayscale(12%);
    opacity: 0.12;
  }
  13% {
    filter: grayscale(13%);
    opacity: 0.13;
  }
  14% {
    filter: grayscale(14%);
    opacity: 0.14;
  }
  15% {
    filter: grayscale(15%);
    opacity: 0.15;
  }
  16% {
    filter: grayscale(16%);
    opacity: 0.16;
  }
  17% {
    filter: grayscale(17%);
    opacity: 0.17;
  }
  18% {
    filter: grayscale(18%);
    opacity: 0.18;
  }
  19% {
    filter: grayscale(19%);
    opacity: 0.19;
  }
  20% {
    filter: grayscale(20%);
    opacity: 0.2;
  }
  21% {
    filter: grayscale(21%);
    opacity: 0.21;
  }
  22% {
    filter: grayscale(22%);
    opacity: 0.22;
  }
  23% {
    filter: grayscale(23%);
    opacity: 0.23;
  }
  24% {
    filter: grayscale(24%);
    opacity: 0.24;
  }
  25% {
    filter: grayscale(25%);
    opacity: 0.25;
  }
  26% {
    filter: grayscale(26%);
    opacity: 0.26;
  }
  27% {
    filter: grayscale(27%);
    opacity: 0.27;
  }
  28% {
    filter: grayscale(28%);
    opacity: 0.28;
  }
  29% {
    filter: grayscale(29%);
    opacity: 0.29;
  }
  30% {
    filter: grayscale(30%);
    opacity: 0.3;
  }
  31% {
    filter: grayscale(31%);
    opacity: 0.31;
  }
  32% {
    filter: grayscale(32%);
    opacity: 0.32;
  }
  33% {
    filter: grayscale(33%);
    opacity: 0.33;
  }
  34% {
    filter: grayscale(34%);
    opacity: 0.34;
  }
  35% {
    filter: grayscale(35%);
    opacity: 0.35;
  }
  36% {
    filter: grayscale(36%);
    opacity: 0.36;
  }
  37% {
    filter: grayscale(37%);
    opacity: 0.37;
  }
  38% {
    filter: grayscale(38%);
    opacity: 0.38;
  }
  39% {
    filter: grayscale(39%);
    opacity: 0.39;
  }
  40% {
    filter: grayscale(40%);
    opacity: 0.4;
  }
  41% {
    filter: grayscale(41%);
    opacity: 0.41;
  }
  42% {
    filter: grayscale(42%);
    opacity: 0.42;
  }
  43% {
    filter: grayscale(43%);
    opacity: 0.43;
  }
  44% {
    filter: grayscale(44%);
    opacity: 0.44;
  }
  45% {
    filter: grayscale(45%);
    opacity: 0.45;
  }
  46% {
    filter: grayscale(46%);
    opacity: 0.46;
  }
  47% {
    filter: grayscale(47%);
    opacity: 0.47;
  }
  48% {
    filter: grayscale(48%);
    opacity: 0.48;
  }
  49% {
    filter: grayscale(49%);
    opacity: 0.49;
  }
  50% {
    filter: grayscale(50%);
    opacity: 0.5;
  }
  51% {
    filter: grayscale(51%);
    opacity: 0.51;
  }
  52% {
    filter: grayscale(52%);
    opacity: 0.52;
  }
  53% {
    filter: grayscale(53%);
    opacity: 0.53;
  }
  54% {
    filter: grayscale(54%);
    opacity: 0.54;
  }
  55% {
    filter: grayscale(55%);
    opacity: 0.55;
  }
  56% {
    filter: grayscale(56%);
    opacity: 0.56;
  }
  57% {
    filter: grayscale(57%);
    opacity: 0.57;
  }
  58% {
    filter: grayscale(58%);
    opacity: 0.58;
  }
  59% {
    filter: grayscale(59%);
    opacity: 0.59;
  }
  60% {
    filter: grayscale(60%);
    opacity: 0.6;
  }
  61% {
    filter: grayscale(61%);
    opacity: 0.61;
  }
  62% {
    filter: grayscale(62%);
    opacity: 0.62;
  }
  63% {
    filter: grayscale(63%);
    opacity: 0.63;
  }
  64% {
    filter: grayscale(64%);
    opacity: 0.64;
  }
  65% {
    filter: grayscale(65%);
    opacity: 0.65;
  }
  66% {
    filter: grayscale(66%);
    opacity: 0.66;
  }
  67% {
    filter: grayscale(67%);
    opacity: 0.67;
  }
  68% {
    filter: grayscale(68%);
    opacity: 0.68;
  }
  69% {
    filter: grayscale(69%);
    opacity: 0.69;
  }
  70% {
    filter: grayscale(70%);
    opacity: 0.7;
  }
  71% {
    filter: grayscale(71%);
    opacity: 0.71;
  }
  72% {
    filter: grayscale(72%);
    opacity: 0.72;
  }
  73% {
    filter: grayscale(73%);
    opacity: 0.73;
  }
  74% {
    filter: grayscale(74%);
    opacity: 0.74;
  }
  75% {
    filter: grayscale(75%);
    opacity: 0.75;
  }
  76% {
    filter: grayscale(76%);
    opacity: 0.76;
  }
  77% {
    filter: grayscale(77%);
    opacity: 0.77;
  }
  78% {
    filter: grayscale(78%);
    opacity: 0.78;
  }
  79% {
    filter: grayscale(79%);
    opacity: 0.79;
  }
  80% {
    filter: grayscale(80%);
    opacity: 0.8;
  }
  81% {
    filter: grayscale(81%);
    opacity: 0.81;
  }
  82% {
    filter: grayscale(82%);
    opacity: 0.82;
  }
  83% {
    filter: grayscale(83%);
    opacity: 0.83;
  }
  84% {
    filter: grayscale(84%);
    opacity: 0.84;
  }
  85% {
    filter: grayscale(85%);
    opacity: 0.85;
  }
  86% {
    filter: grayscale(86%);
    opacity: 0.86;
  }
  87% {
    filter: grayscale(87%);
    opacity: 0.87;
  }
  88% {
    filter: grayscale(88%);
    opacity: 0.88;
  }
  89% {
    filter: grayscale(89%);
    opacity: 0.89;
  }
  90% {
    filter: grayscale(90%);
    opacity: 0.9;
  }
  91% {
    filter: grayscale(91%);
    opacity: 0.91;
  }
  92% {
    filter: grayscale(92%);
    opacity: 0.92;
  }
  93% {
    filter: grayscale(93%);
    opacity: 0.93;
  }
  94% {
    filter: grayscale(94%);
    opacity: 0.94;
  }
  95% {
    filter: grayscale(95%);
    opacity: 0.95;
  }
  96% {
    filter: grayscale(96%);
    opacity: 0.96;
  }
  97% {
    filter: grayscale(97%);
    opacity: 0.97;
  }
  98% {
    filter: grayscale(98%);
    opacity: 0.98;
  }
  99% {
    filter: grayscale(99%);
    opacity: 0.99;
  }
  100% {
    filter: grayscale(100%);
    opacity: 1;
  }
}
@-moz-keyframes car1 {
  0% {
    filter: blur(0px) invert(0%);
  }
  1% {
    filter: blur(0.1px) invert(2%);
  }
  2% {
    filter: blur(0.2px) invert(4%);
  }
  3% {
    filter: blur(0.3px) invert(6%);
  }
  4% {
    filter: blur(0.4px) invert(8%);
  }
  5% {
    filter: blur(0.5px) invert(10%);
  }
  6% {
    filter: blur(0.6px) invert(12%);
  }
  7% {
    filter: blur(0.7px) invert(14%);
  }
  8% {
    filter: blur(0.8px) invert(16%);
  }
  9% {
    filter: blur(0.9px) invert(18%);
  }
  10% {
    filter: blur(1px) invert(20%);
  }
  11% {
    filter: blur(1.1px) invert(22%);
  }
  12% {
    filter: blur(1.2px) invert(24%);
  }
  13% {
    filter: blur(1.3px) invert(26%);
  }
  14% {
    filter: blur(1.4px) invert(28%);
  }
  15% {
    filter: blur(1.5px) invert(30%);
  }
  16% {
    filter: blur(1.6px) invert(32%);
  }
  17% {
    filter: blur(1.7px) invert(34%);
  }
  18% {
    filter: blur(1.8px) invert(36%);
  }
  19% {
    filter: blur(1.9px) invert(38%);
  }
  20% {
    filter: blur(2px) invert(40%);
  }
  21% {
    filter: blur(2.1px) invert(42%);
  }
  22% {
    filter: blur(2.2px) invert(44%);
  }
  23% {
    filter: blur(2.3px) invert(46%);
  }
  24% {
    filter: blur(2.4px) invert(48%);
  }
  25% {
    filter: blur(2.5px) invert(50%);
  }
  26% {
    filter: blur(2.6px) invert(52%);
  }
  27% {
    filter: blur(2.7px) invert(54%);
  }
  28% {
    filter: blur(2.8px) invert(56%);
  }
  29% {
    filter: blur(2.9px) invert(58%);
  }
  30% {
    filter: blur(3px) invert(60%);
  }
  31% {
    filter: blur(3.1px) invert(62%);
  }
  32% {
    filter: blur(3.2px) invert(64%);
  }
  33% {
    filter: blur(3.3px) invert(66%);
  }
  34% {
    filter: blur(3.4px) invert(68%);
  }
  35% {
    filter: blur(3.5px) invert(70%);
  }
  36% {
    filter: blur(3.6px) invert(72%);
  }
  37% {
    filter: blur(3.7px) invert(74%);
  }
  38% {
    filter: blur(3.8px) invert(76%);
  }
  39% {
    filter: blur(3.9px) invert(78%);
  }
  40% {
    filter: blur(4px) invert(80%);
  }
  41% {
    filter: blur(4.100000000000001px) invert(82%);
  }
  42% {
    filter: blur(4.2px) invert(84%);
  }
  43% {
    filter: blur(4.3px) invert(86%);
  }
  44% {
    filter: blur(4.4px) invert(88%);
  }
  45% {
    filter: blur(4.5px) invert(90%);
  }
  46% {
    filter: blur(4.600000000000001px) invert(92%);
  }
  47% {
    filter: blur(4.7px) invert(94%);
  }
  48% {
    filter: blur(4.800000000000001px) invert(96%);
  }
  49% {
    filter: blur(4.9px) invert(98%);
  }
  50% {
    filter: blur(5px) invert(100%);
  }
  51% {
    filter: blur(5.100000000000001px) invert(102%);
  }
  52% {
    filter: blur(5.2px) invert(104%);
  }
  53% {
    filter: blur(5.300000000000001px) invert(106%);
  }
  54% {
    filter: blur(5.4px) invert(108%);
  }
  55% {
    filter: blur(5.5px) invert(110%);
  }
  56% {
    filter: blur(5.600000000000001px) invert(112%);
  }
  57% {
    filter: blur(5.7px) invert(114%);
  }
  58% {
    filter: blur(5.800000000000001px) invert(116%);
  }
  59% {
    filter: blur(5.9px) invert(118%);
  }
  60% {
    filter: blur(6px) invert(120%);
  }
  61% {
    filter: blur(6.100000000000001px) invert(122%);
  }
  62% {
    filter: blur(6.2px) invert(124%);
  }
  63% {
    filter: blur(6.300000000000001px) invert(126%);
  }
  64% {
    filter: blur(6.4px) invert(128%);
  }
  65% {
    filter: blur(6.5px) invert(130%);
  }
  66% {
    filter: blur(6.600000000000001px) invert(132%);
  }
  67% {
    filter: blur(6.7px) invert(134%);
  }
  68% {
    filter: blur(6.800000000000001px) invert(136%);
  }
  69% {
    filter: blur(6.9px) invert(138%);
  }
  70% {
    filter: blur(7px) invert(140%);
  }
  71% {
    filter: blur(7.100000000000001px) invert(142%);
  }
  72% {
    filter: blur(7.2px) invert(144%);
  }
  73% {
    filter: blur(7.300000000000001px) invert(146%);
  }
  74% {
    filter: blur(7.4px) invert(148%);
  }
  75% {
    filter: blur(7.5px) invert(150%);
  }
  76% {
    filter: blur(7.600000000000001px) invert(152%);
  }
  77% {
    filter: blur(7.7px) invert(154%);
  }
  78% {
    filter: blur(7.800000000000001px) invert(156%);
  }
  79% {
    filter: blur(7.9px) invert(158%);
  }
  80% {
    filter: blur(8px) invert(160%);
  }
  81% {
    filter: blur(8.1px) invert(162%);
  }
  82% {
    filter: blur(8.200000000000001px) invert(164%);
  }
  83% {
    filter: blur(8.3px) invert(166%);
  }
  84% {
    filter: blur(8.4px) invert(168%);
  }
  85% {
    filter: blur(8.5px) invert(170%);
  }
  86% {
    filter: blur(8.6px) invert(172%);
  }
  87% {
    filter: blur(8.700000000000001px) invert(174%);
  }
  88% {
    filter: blur(8.8px) invert(176%);
  }
  89% {
    filter: blur(8.9px) invert(178%);
  }
  90% {
    filter: blur(9px) invert(180%);
  }
  91% {
    filter: blur(9.1px) invert(182%);
  }
  92% {
    filter: blur(9.200000000000001px) invert(184%);
  }
  93% {
    filter: blur(9.3px) invert(186%);
  }
  94% {
    filter: blur(9.4px) invert(188%);
  }
  95% {
    filter: blur(9.5px) invert(190%);
  }
  96% {
    filter: blur(9.600000000000001px) invert(192%);
  }
  97% {
    filter: blur(9.700000000000001px) invert(194%);
  }
  98% {
    filter: blur(9.8px) invert(196%);
  }
  99% {
    filter: blur(9.9px) invert(198%);
  }
  100% {
    filter: blur(10px) invert(200%);
  }
}
@-webkit-keyframes car1 {
  0% {
    filter: blur(0px) invert(0%);
  }
  1% {
    filter: blur(0.1px) invert(2%);
  }
  2% {
    filter: blur(0.2px) invert(4%);
  }
  3% {
    filter: blur(0.3px) invert(6%);
  }
  4% {
    filter: blur(0.4px) invert(8%);
  }
  5% {
    filter: blur(0.5px) invert(10%);
  }
  6% {
    filter: blur(0.6px) invert(12%);
  }
  7% {
    filter: blur(0.7px) invert(14%);
  }
  8% {
    filter: blur(0.8px) invert(16%);
  }
  9% {
    filter: blur(0.9px) invert(18%);
  }
  10% {
    filter: blur(1px) invert(20%);
  }
  11% {
    filter: blur(1.1px) invert(22%);
  }
  12% {
    filter: blur(1.2px) invert(24%);
  }
  13% {
    filter: blur(1.3px) invert(26%);
  }
  14% {
    filter: blur(1.4px) invert(28%);
  }
  15% {
    filter: blur(1.5px) invert(30%);
  }
  16% {
    filter: blur(1.6px) invert(32%);
  }
  17% {
    filter: blur(1.7px) invert(34%);
  }
  18% {
    filter: blur(1.8px) invert(36%);
  }
  19% {
    filter: blur(1.9px) invert(38%);
  }
  20% {
    filter: blur(2px) invert(40%);
  }
  21% {
    filter: blur(2.1px) invert(42%);
  }
  22% {
    filter: blur(2.2px) invert(44%);
  }
  23% {
    filter: blur(2.3px) invert(46%);
  }
  24% {
    filter: blur(2.4px) invert(48%);
  }
  25% {
    filter: blur(2.5px) invert(50%);
  }
  26% {
    filter: blur(2.6px) invert(52%);
  }
  27% {
    filter: blur(2.7px) invert(54%);
  }
  28% {
    filter: blur(2.8px) invert(56%);
  }
  29% {
    filter: blur(2.9px) invert(58%);
  }
  30% {
    filter: blur(3px) invert(60%);
  }
  31% {
    filter: blur(3.1px) invert(62%);
  }
  32% {
    filter: blur(3.2px) invert(64%);
  }
  33% {
    filter: blur(3.3px) invert(66%);
  }
  34% {
    filter: blur(3.4px) invert(68%);
  }
  35% {
    filter: blur(3.5px) invert(70%);
  }
  36% {
    filter: blur(3.6px) invert(72%);
  }
  37% {
    filter: blur(3.7px) invert(74%);
  }
  38% {
    filter: blur(3.8px) invert(76%);
  }
  39% {
    filter: blur(3.9px) invert(78%);
  }
  40% {
    filter: blur(4px) invert(80%);
  }
  41% {
    filter: blur(4.100000000000001px) invert(82%);
  }
  42% {
    filter: blur(4.2px) invert(84%);
  }
  43% {
    filter: blur(4.3px) invert(86%);
  }
  44% {
    filter: blur(4.4px) invert(88%);
  }
  45% {
    filter: blur(4.5px) invert(90%);
  }
  46% {
    filter: blur(4.600000000000001px) invert(92%);
  }
  47% {
    filter: blur(4.7px) invert(94%);
  }
  48% {
    filter: blur(4.800000000000001px) invert(96%);
  }
  49% {
    filter: blur(4.9px) invert(98%);
  }
  50% {
    filter: blur(5px) invert(100%);
  }
  51% {
    filter: blur(5.100000000000001px) invert(102%);
  }
  52% {
    filter: blur(5.2px) invert(104%);
  }
  53% {
    filter: blur(5.300000000000001px) invert(106%);
  }
  54% {
    filter: blur(5.4px) invert(108%);
  }
  55% {
    filter: blur(5.5px) invert(110%);
  }
  56% {
    filter: blur(5.600000000000001px) invert(112%);
  }
  57% {
    filter: blur(5.7px) invert(114%);
  }
  58% {
    filter: blur(5.800000000000001px) invert(116%);
  }
  59% {
    filter: blur(5.9px) invert(118%);
  }
  60% {
    filter: blur(6px) invert(120%);
  }
  61% {
    filter: blur(6.100000000000001px) invert(122%);
  }
  62% {
    filter: blur(6.2px) invert(124%);
  }
  63% {
    filter: blur(6.300000000000001px) invert(126%);
  }
  64% {
    filter: blur(6.4px) invert(128%);
  }
  65% {
    filter: blur(6.5px) invert(130%);
  }
  66% {
    filter: blur(6.600000000000001px) invert(132%);
  }
  67% {
    filter: blur(6.7px) invert(134%);
  }
  68% {
    filter: blur(6.800000000000001px) invert(136%);
  }
  69% {
    filter: blur(6.9px) invert(138%);
  }
  70% {
    filter: blur(7px) invert(140%);
  }
  71% {
    filter: blur(7.100000000000001px) invert(142%);
  }
  72% {
    filter: blur(7.2px) invert(144%);
  }
  73% {
    filter: blur(7.300000000000001px) invert(146%);
  }
  74% {
    filter: blur(7.4px) invert(148%);
  }
  75% {
    filter: blur(7.5px) invert(150%);
  }
  76% {
    filter: blur(7.600000000000001px) invert(152%);
  }
  77% {
    filter: blur(7.7px) invert(154%);
  }
  78% {
    filter: blur(7.800000000000001px) invert(156%);
  }
  79% {
    filter: blur(7.9px) invert(158%);
  }
  80% {
    filter: blur(8px) invert(160%);
  }
  81% {
    filter: blur(8.1px) invert(162%);
  }
  82% {
    filter: blur(8.200000000000001px) invert(164%);
  }
  83% {
    filter: blur(8.3px) invert(166%);
  }
  84% {
    filter: blur(8.4px) invert(168%);
  }
  85% {
    filter: blur(8.5px) invert(170%);
  }
  86% {
    filter: blur(8.6px) invert(172%);
  }
  87% {
    filter: blur(8.700000000000001px) invert(174%);
  }
  88% {
    filter: blur(8.8px) invert(176%);
  }
  89% {
    filter: blur(8.9px) invert(178%);
  }
  90% {
    filter: blur(9px) invert(180%);
  }
  91% {
    filter: blur(9.1px) invert(182%);
  }
  92% {
    filter: blur(9.200000000000001px) invert(184%);
  }
  93% {
    filter: blur(9.3px) invert(186%);
  }
  94% {
    filter: blur(9.4px) invert(188%);
  }
  95% {
    filter: blur(9.5px) invert(190%);
  }
  96% {
    filter: blur(9.600000000000001px) invert(192%);
  }
  97% {
    filter: blur(9.700000000000001px) invert(194%);
  }
  98% {
    filter: blur(9.8px) invert(196%);
  }
  99% {
    filter: blur(9.9px) invert(198%);
  }
  100% {
    filter: blur(10px) invert(200%);
  }
}
@-o-keyframes car1 {
  0% {
    filter: blur(0px) invert(0%);
  }
  1% {
    filter: blur(0.1px) invert(2%);
  }
  2% {
    filter: blur(0.2px) invert(4%);
  }
  3% {
    filter: blur(0.3px) invert(6%);
  }
  4% {
    filter: blur(0.4px) invert(8%);
  }
  5% {
    filter: blur(0.5px) invert(10%);
  }
  6% {
    filter: blur(0.6px) invert(12%);
  }
  7% {
    filter: blur(0.7px) invert(14%);
  }
  8% {
    filter: blur(0.8px) invert(16%);
  }
  9% {
    filter: blur(0.9px) invert(18%);
  }
  10% {
    filter: blur(1px) invert(20%);
  }
  11% {
    filter: blur(1.1px) invert(22%);
  }
  12% {
    filter: blur(1.2px) invert(24%);
  }
  13% {
    filter: blur(1.3px) invert(26%);
  }
  14% {
    filter: blur(1.4px) invert(28%);
  }
  15% {
    filter: blur(1.5px) invert(30%);
  }
  16% {
    filter: blur(1.6px) invert(32%);
  }
  17% {
    filter: blur(1.7px) invert(34%);
  }
  18% {
    filter: blur(1.8px) invert(36%);
  }
  19% {
    filter: blur(1.9px) invert(38%);
  }
  20% {
    filter: blur(2px) invert(40%);
  }
  21% {
    filter: blur(2.1px) invert(42%);
  }
  22% {
    filter: blur(2.2px) invert(44%);
  }
  23% {
    filter: blur(2.3px) invert(46%);
  }
  24% {
    filter: blur(2.4px) invert(48%);
  }
  25% {
    filter: blur(2.5px) invert(50%);
  }
  26% {
    filter: blur(2.6px) invert(52%);
  }
  27% {
    filter: blur(2.7px) invert(54%);
  }
  28% {
    filter: blur(2.8px) invert(56%);
  }
  29% {
    filter: blur(2.9px) invert(58%);
  }
  30% {
    filter: blur(3px) invert(60%);
  }
  31% {
    filter: blur(3.1px) invert(62%);
  }
  32% {
    filter: blur(3.2px) invert(64%);
  }
  33% {
    filter: blur(3.3px) invert(66%);
  }
  34% {
    filter: blur(3.4px) invert(68%);
  }
  35% {
    filter: blur(3.5px) invert(70%);
  }
  36% {
    filter: blur(3.6px) invert(72%);
  }
  37% {
    filter: blur(3.7px) invert(74%);
  }
  38% {
    filter: blur(3.8px) invert(76%);
  }
  39% {
    filter: blur(3.9px) invert(78%);
  }
  40% {
    filter: blur(4px) invert(80%);
  }
  41% {
    filter: blur(4.100000000000001px) invert(82%);
  }
  42% {
    filter: blur(4.2px) invert(84%);
  }
  43% {
    filter: blur(4.3px) invert(86%);
  }
  44% {
    filter: blur(4.4px) invert(88%);
  }
  45% {
    filter: blur(4.5px) invert(90%);
  }
  46% {
    filter: blur(4.600000000000001px) invert(92%);
  }
  47% {
    filter: blur(4.7px) invert(94%);
  }
  48% {
    filter: blur(4.800000000000001px) invert(96%);
  }
  49% {
    filter: blur(4.9px) invert(98%);
  }
  50% {
    filter: blur(5px) invert(100%);
  }
  51% {
    filter: blur(5.100000000000001px) invert(102%);
  }
  52% {
    filter: blur(5.2px) invert(104%);
  }
  53% {
    filter: blur(5.300000000000001px) invert(106%);
  }
  54% {
    filter: blur(5.4px) invert(108%);
  }
  55% {
    filter: blur(5.5px) invert(110%);
  }
  56% {
    filter: blur(5.600000000000001px) invert(112%);
  }
  57% {
    filter: blur(5.7px) invert(114%);
  }
  58% {
    filter: blur(5.800000000000001px) invert(116%);
  }
  59% {
    filter: blur(5.9px) invert(118%);
  }
  60% {
    filter: blur(6px) invert(120%);
  }
  61% {
    filter: blur(6.100000000000001px) invert(122%);
  }
  62% {
    filter: blur(6.2px) invert(124%);
  }
  63% {
    filter: blur(6.300000000000001px) invert(126%);
  }
  64% {
    filter: blur(6.4px) invert(128%);
  }
  65% {
    filter: blur(6.5px) invert(130%);
  }
  66% {
    filter: blur(6.600000000000001px) invert(132%);
  }
  67% {
    filter: blur(6.7px) invert(134%);
  }
  68% {
    filter: blur(6.800000000000001px) invert(136%);
  }
  69% {
    filter: blur(6.9px) invert(138%);
  }
  70% {
    filter: blur(7px) invert(140%);
  }
  71% {
    filter: blur(7.100000000000001px) invert(142%);
  }
  72% {
    filter: blur(7.2px) invert(144%);
  }
  73% {
    filter: blur(7.300000000000001px) invert(146%);
  }
  74% {
    filter: blur(7.4px) invert(148%);
  }
  75% {
    filter: blur(7.5px) invert(150%);
  }
  76% {
    filter: blur(7.600000000000001px) invert(152%);
  }
  77% {
    filter: blur(7.7px) invert(154%);
  }
  78% {
    filter: blur(7.800000000000001px) invert(156%);
  }
  79% {
    filter: blur(7.9px) invert(158%);
  }
  80% {
    filter: blur(8px) invert(160%);
  }
  81% {
    filter: blur(8.1px) invert(162%);
  }
  82% {
    filter: blur(8.200000000000001px) invert(164%);
  }
  83% {
    filter: blur(8.3px) invert(166%);
  }
  84% {
    filter: blur(8.4px) invert(168%);
  }
  85% {
    filter: blur(8.5px) invert(170%);
  }
  86% {
    filter: blur(8.6px) invert(172%);
  }
  87% {
    filter: blur(8.700000000000001px) invert(174%);
  }
  88% {
    filter: blur(8.8px) invert(176%);
  }
  89% {
    filter: blur(8.9px) invert(178%);
  }
  90% {
    filter: blur(9px) invert(180%);
  }
  91% {
    filter: blur(9.1px) invert(182%);
  }
  92% {
    filter: blur(9.200000000000001px) invert(184%);
  }
  93% {
    filter: blur(9.3px) invert(186%);
  }
  94% {
    filter: blur(9.4px) invert(188%);
  }
  95% {
    filter: blur(9.5px) invert(190%);
  }
  96% {
    filter: blur(9.600000000000001px) invert(192%);
  }
  97% {
    filter: blur(9.700000000000001px) invert(194%);
  }
  98% {
    filter: blur(9.8px) invert(196%);
  }
  99% {
    filter: blur(9.9px) invert(198%);
  }
  100% {
    filter: blur(10px) invert(200%);
  }
}
@keyframes car1 {
  0% {
    filter: blur(0px) invert(0%);
  }
  1% {
    filter: blur(0.1px) invert(2%);
  }
  2% {
    filter: blur(0.2px) invert(4%);
  }
  3% {
    filter: blur(0.3px) invert(6%);
  }
  4% {
    filter: blur(0.4px) invert(8%);
  }
  5% {
    filter: blur(0.5px) invert(10%);
  }
  6% {
    filter: blur(0.6px) invert(12%);
  }
  7% {
    filter: blur(0.7px) invert(14%);
  }
  8% {
    filter: blur(0.8px) invert(16%);
  }
  9% {
    filter: blur(0.9px) invert(18%);
  }
  10% {
    filter: blur(1px) invert(20%);
  }
  11% {
    filter: blur(1.1px) invert(22%);
  }
  12% {
    filter: blur(1.2px) invert(24%);
  }
  13% {
    filter: blur(1.3px) invert(26%);
  }
  14% {
    filter: blur(1.4px) invert(28%);
  }
  15% {
    filter: blur(1.5px) invert(30%);
  }
  16% {
    filter: blur(1.6px) invert(32%);
  }
  17% {
    filter: blur(1.7px) invert(34%);
  }
  18% {
    filter: blur(1.8px) invert(36%);
  }
  19% {
    filter: blur(1.9px) invert(38%);
  }
  20% {
    filter: blur(2px) invert(40%);
  }
  21% {
    filter: blur(2.1px) invert(42%);
  }
  22% {
    filter: blur(2.2px) invert(44%);
  }
  23% {
    filter: blur(2.3px) invert(46%);
  }
  24% {
    filter: blur(2.4px) invert(48%);
  }
  25% {
    filter: blur(2.5px) invert(50%);
  }
  26% {
    filter: blur(2.6px) invert(52%);
  }
  27% {
    filter: blur(2.7px) invert(54%);
  }
  28% {
    filter: blur(2.8px) invert(56%);
  }
  29% {
    filter: blur(2.9px) invert(58%);
  }
  30% {
    filter: blur(3px) invert(60%);
  }
  31% {
    filter: blur(3.1px) invert(62%);
  }
  32% {
    filter: blur(3.2px) invert(64%);
  }
  33% {
    filter: blur(3.3px) invert(66%);
  }
  34% {
    filter: blur(3.4px) invert(68%);
  }
  35% {
    filter: blur(3.5px) invert(70%);
  }
  36% {
    filter: blur(3.6px) invert(72%);
  }
  37% {
    filter: blur(3.7px) invert(74%);
  }
  38% {
    filter: blur(3.8px) invert(76%);
  }
  39% {
    filter: blur(3.9px) invert(78%);
  }
  40% {
    filter: blur(4px) invert(80%);
  }
  41% {
    filter: blur(4.100000000000001px) invert(82%);
  }
  42% {
    filter: blur(4.2px) invert(84%);
  }
  43% {
    filter: blur(4.3px) invert(86%);
  }
  44% {
    filter: blur(4.4px) invert(88%);
  }
  45% {
    filter: blur(4.5px) invert(90%);
  }
  46% {
    filter: blur(4.600000000000001px) invert(92%);
  }
  47% {
    filter: blur(4.7px) invert(94%);
  }
  48% {
    filter: blur(4.800000000000001px) invert(96%);
  }
  49% {
    filter: blur(4.9px) invert(98%);
  }
  50% {
    filter: blur(5px) invert(100%);
  }
  51% {
    filter: blur(5.100000000000001px) invert(102%);
  }
  52% {
    filter: blur(5.2px) invert(104%);
  }
  53% {
    filter: blur(5.300000000000001px) invert(106%);
  }
  54% {
    filter: blur(5.4px) invert(108%);
  }
  55% {
    filter: blur(5.5px) invert(110%);
  }
  56% {
    filter: blur(5.600000000000001px) invert(112%);
  }
  57% {
    filter: blur(5.7px) invert(114%);
  }
  58% {
    filter: blur(5.800000000000001px) invert(116%);
  }
  59% {
    filter: blur(5.9px) invert(118%);
  }
  60% {
    filter: blur(6px) invert(120%);
  }
  61% {
    filter: blur(6.100000000000001px) invert(122%);
  }
  62% {
    filter: blur(6.2px) invert(124%);
  }
  63% {
    filter: blur(6.300000000000001px) invert(126%);
  }
  64% {
    filter: blur(6.4px) invert(128%);
  }
  65% {
    filter: blur(6.5px) invert(130%);
  }
  66% {
    filter: blur(6.600000000000001px) invert(132%);
  }
  67% {
    filter: blur(6.7px) invert(134%);
  }
  68% {
    filter: blur(6.800000000000001px) invert(136%);
  }
  69% {
    filter: blur(6.9px) invert(138%);
  }
  70% {
    filter: blur(7px) invert(140%);
  }
  71% {
    filter: blur(7.100000000000001px) invert(142%);
  }
  72% {
    filter: blur(7.2px) invert(144%);
  }
  73% {
    filter: blur(7.300000000000001px) invert(146%);
  }
  74% {
    filter: blur(7.4px) invert(148%);
  }
  75% {
    filter: blur(7.5px) invert(150%);
  }
  76% {
    filter: blur(7.600000000000001px) invert(152%);
  }
  77% {
    filter: blur(7.7px) invert(154%);
  }
  78% {
    filter: blur(7.800000000000001px) invert(156%);
  }
  79% {
    filter: blur(7.9px) invert(158%);
  }
  80% {
    filter: blur(8px) invert(160%);
  }
  81% {
    filter: blur(8.1px) invert(162%);
  }
  82% {
    filter: blur(8.200000000000001px) invert(164%);
  }
  83% {
    filter: blur(8.3px) invert(166%);
  }
  84% {
    filter: blur(8.4px) invert(168%);
  }
  85% {
    filter: blur(8.5px) invert(170%);
  }
  86% {
    filter: blur(8.6px) invert(172%);
  }
  87% {
    filter: blur(8.700000000000001px) invert(174%);
  }
  88% {
    filter: blur(8.8px) invert(176%);
  }
  89% {
    filter: blur(8.9px) invert(178%);
  }
  90% {
    filter: blur(9px) invert(180%);
  }
  91% {
    filter: blur(9.1px) invert(182%);
  }
  92% {
    filter: blur(9.200000000000001px) invert(184%);
  }
  93% {
    filter: blur(9.3px) invert(186%);
  }
  94% {
    filter: blur(9.4px) invert(188%);
  }
  95% {
    filter: blur(9.5px) invert(190%);
  }
  96% {
    filter: blur(9.600000000000001px) invert(192%);
  }
  97% {
    filter: blur(9.700000000000001px) invert(194%);
  }
  98% {
    filter: blur(9.8px) invert(196%);
  }
  99% {
    filter: blur(9.9px) invert(198%);
  }
  100% {
    filter: blur(10px) invert(200%);
  }
}
